.navbar
{
    background-color: var(--navbarBgColor) !important;
    height: 100px;
    width: 80%;
}

.nav-link
{
    color: var(--navbarTextColor);
    font-weight: 700;
}

.nav-link:hover
{
    color: var(--primaryColor);
}

.navbar-brand
{
    font-size: 40px;
    font-weight: 800;
    color: var(--navbarTextColor);
}

.activePage
{
    color: var(--primaryColor);
}