.filter-bar 
{
    text-align: center;
    margin-bottom: 2rem;
}

.filter-bar .btn-group 
{
    display: flex;
    flex-wrap: nowrap;
}

.filter-bar .btn 
{
    margin: 0.2rem;
    color: #fff;
    background-color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.filter-bar .btn:hover 
{
    background-color: var(--accentColor);
    border-color: var(--accentColor);
    color: #fff;
}

.filter-bar .btn.active 
{
    background-color: var(--accentColor);
    border-color: var(--accentColor);
    color: #fff;
}

.filter-bar .btn:focus 
{
    box-shadow: none;
}