.projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: auto;
    gap: 15px;
    align-items: stretch;
}

.projectContainer {
    text-align: center;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.projectsSection {
    flex-direction: column;
    flex-wrap: wrap;
}

.projectVisials {
    width: 100%;
    /* make image fill the container */
    height: auto;
    /* keep aspect ratio */
    border-radius: 25px;
    object-fit: cover;
    /* optional: crop to fit nicely */
}

.playVideoOnImageHover {
    isolation: isolate;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 5%;
    height: auto;
}

.hover-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    /* so the mouse interacts with the image */
    border-radius: 25px;
    /* same as the images */
}

.playVideoOnImageHover:hover .hover-video {
    opacity: 1;
}

.playVideoOnImageHover:hover .hover-video {
    display: block;
}

.smallLogoImage {
    height: 35px;
    margin: 5px;
}

.bottomMeta {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
}