:root {
    --primaryColor: #B35F00;
    --secondaryColor: #1b2021;
    --backgroundColor: rgba(48, 42, 62, 0);
    --textColor: #eff6e0;
    --titleColor: #eff6e0;
    --accentColor: #e83f6f;
    --navbarTextColor: #eff6e0;
    --navbarBgColor: #12161a;
    --cardBackground: #1c2228;
    --dropShadowColor: #000000;
    --cppLogoImage: url("../../images/logos/cppLogo.png");
    --csLogoImage: url("../../images/logos/csLogo.png");
    --gitLogoImage: url("../../images/logos/gitLogo.png");
    --perforceLogoImage: url("../../images/logos/perforceLogo.png");
    --unityLogoImage: url("../../images/logos/unityLogo.png");
    --unrealLogoImage: url("../../images/logos/unrealLogo.png");
}

html,
body {
    height: 100%;
    min-height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: var(--textColor);
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* if your app is column-based */
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: 'Source Sans Pro', sans-serif;
    height: fit-content;
}

a {
    display: inline;
    /* ensure it's inline */
    white-space: nowrap;
    /* never break the link text and arrow apart */

    line-height: 1.5;
    margin: 0.5em 0;
    font-weight: 600;
    top: -12px;
    font-size: 16px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #fff, #4a4ac0);
    background-size: 10em, 1.5em;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

a[target="_blank"]::after {
    content: "↗";
}

h1 {
    color: var(--titleColor);
    font-size: min(5svh, 4em);
    background-image: linear-gradient(to bottom, #fff, #6f6fbe);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h2 {
    font-size: min(4svh, 2em);
    background-image: linear-gradient(to bottom, #fff, #6f6fbe);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: underline;
    margin: 0;
}

p {
    line-height: 1.5;
    font-weight: 600;
    font-size: 20px;
    padding: 1%;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #fff, #4a4ac0);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.parentContainer{
    width: 75%;
    margin: auto;
    max-width: 1500px;
}