:root {
    --primaryColor: #B35F00;
    --secondaryColor: #1b2021;
    --backgroundColor: rgba(48, 42, 62, 0);
    --textColor: #eff6e0;
    --titleColor: #eff6e0;
    --accentColor: #e83f6f;
    --navbarTextColor: #eff6e0;
    --navbarBgColor: #12161a;
    --cardBackground: #1c2228;
    --dropShadowColor: #000000;
    --cppLogoImage: url("../../images/logos/cppLogo.png");
    --csLogoImage: url("../../images/logos/csLogo.png");
    --gitLogoImage: url("../../images/logos/gitLogo.png");
    --perforceLogoImage: url("../../images/logos/perforceLogo.png");
    --unityLogoImage: url("../../images/logos/unityLogo.png");
    --unrealLogoImage: url("../../images/logos/unrealLogo.png");
}

html, body {
    height: 100%;
    min-height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: var(--textColor);
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column; /* if your app is column-based */
}

.boxContainerItemsVertical {
    background: var(--cardBackground);
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    height: fit-content;
}

.boxContainerItemsHorizontal {
    mix-blend-mode: luminosity;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.sectionStyle {
    display: flex;
    justify-content: space-between;
}

.transparentBackground {
    background: transparent;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: 'Source Sans Pro', sans-serif;
    height: fit-content;
}

a {
    color: var(--primaryColor);
}

a:hover {
    color: white;
}

a[target="_blank"]::after {
    content:"↗";
}

.myProfile p {
    line-height: 1.5;
    margin: 0.5em 0;
    font-weight: 600;
    top: -12px;
    font-size: 16px;
    background-image: linear-gradient(to bottom, #fff, #4a4ac0);
    background-size: 10em, 1.5em;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h1 {
    color: var(--titleColor);
    font-size: min(5svh, 4em);
    background-image: linear-gradient(to bottom, #fff, #6f6fbe);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin: 0;
}

h2 {
    font-size: min(4svh, 2em);
    background-image: linear-gradient(to bottom, #fff, #6f6fbe);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-decoration: underline;
    margin: 0;
}
    
.highlight {
    color: var(--accentColor);
}

.btn-primary {
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: var(--primaryColor) !important;
    transform: scale(1.1);
}

.btn-primary:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--primaryColor) !important;
}

.logoImage {
    height: 50px;
}

.logoImageTable {
    padding: 5px;
}

.activePage {
    color: var(--primaryColor);
}